@font-face {
  font-family: 'Trebuchet MS';
  src: local('Trebuchet MS'),
       url('./fonts/trebuc.ttf') format('truetype');
}

@font-face {
  font-family: 'Trebuchet MS-Italic';
  src: local('Trebuchet MS-Italic'),
       url('./fonts/Trebuchet-MS-Italic.ttf') format('truetype');
}
